*{
    padding: 0;
    margin: 0;
}
.clearfix::after{
    content: '.';
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.main{
    width: 620px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 55px;
}
.h1{
    font-weight: bold;
    margin-bottom: 0em;
    font-size: 33px;
}
.one{
    padding-top: 36px;
}
.user,.touxiang{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}
.xinxi{
    padding-left: 14px;
}
.jd{
    cursor: pointer;
}
.name{
    font-size: 13px;
    color: #333333;
}
.attention{
    display: inline-block;
    width: 52px;
    height: 18px;
    background: #42c02e;
    border-radius: 10px;
    font-size: 11px;
    color: #fff;
    text-align: center;
    line-height: 16px;
    margin-left: 8px;
}
.attention_bottom{
    font-size: 11px;
    color: #969696;
    padding-top: 8px;
    margin-bottom: 0em;
}
.jg{
    padding-left: 8px;
}
.two{
    padding-top: 40px;
}
.paragraph{
    font-size: 16px;
    line-height: 28px;
    color: #2f2f2f;
}
.picture{
    width: 620px;
}
.photograph{
    width: 500px;
    height: 334px;
    margin: 24px auto;
    display: block;
}
.active{
    font-weight: 600;
}
.three{
    width: 620px;
    margin-top: 49px;
    margin-bottom: 100px;
}
.bottom{
    font-size: 17px;
    font-weight: 600;
    color: #969696;
    text-align: center;
}
.zan{
    width: 115px;
    height: 40px;
    border-radius: 20px;
    background: #ea6f5a;
    text-align: center;
    margin: auto;
    cursor: pointer;
}
.support{
    font-size: 15px;
    color: #fff;
    line-height: 40px;
}
.zan:hover{
    background: #ec6149;
}
.four{
    font-size: 11px;
    color: #c8c8c8;
}
.diary{
    padding-left: 10px;
    float: left;
    cursor: pointer;
}
.book{
    padding-right: 6px;
}
.copyright{
    float: right;
    padding-left: 20px;
}
.inform{
    float: right;
    cursor: pointer;
}
.writer{
    width: 618px;
    border: 1px solid #ebebeb;
    background: #f7f7f7;
    border-radius: 6px;
    margin-top: 30px;
    padding: 20px;
}
.writer_box{
    height: 102px;
}
.writer_r{
    padding-left: 11px;
}
.writer_name{
    margin-bottom: 0em;
    cursor: pointer;
}
.writer_top{
    padding-bottom: 21px;
    border-bottom: 1px solid #e6e6e6;
}
.gz{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background: #42c02e;
    text-align: center;
    margin-bottom: 0em;
}
.gz:hover{
    background: #3db922;
    cursor: pointer;
}
.zt{
    display: inline-block;
    line-height: 38px;
    font-size: 15px;
    color: #fff;
}
.plus{
    padding-right: 4px;
    font-weight: 600;
    font-size: 20px;
}
.last{
    font-size: 11px;
    color: #969696;
    margin-top: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.like{
    width: 620px;
    padding-top: 40px;
}
.praise_like{
    width: 174px;
    height: 58px;
    border-radius: 30px;
    border: 1px solid #ea6f5a;
    background: #fff;
    text-align: center;
    margin-bottom: 0em;
    cursor: pointer;
}
.praise_like:hover{
    background: #fef7f6;
    cursor: pointer;
}
.xh{
    display: inline-block;
    font-size: 18px;
    line-height: 55px;
    color: #ea6f5a;
}
.jl{
    margin-right: 10px;
}
.wx{
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    background: #fff;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 0em;
}
.wx:hover{
    background: #f7f7f7;
    cursor: pointer;
}
.wx_tb{
    font-size: 20px;
    color: #00bb29;
    line-height: 50px;
}
.xl_tb{
    font-size: 20px;
    line-height: 50px;
    color: #e05244;
}
.zp_tb{
    font-size: 20px;
    line-height: 50px;
    color: #9b9b9b;
}
.more_gd{
    float: right;
    width: 92px;
    height: 48px;
    border: 1px solid #e5e5e5;
    border-radius: 30px;
    background: #fff;
    text-align: center;
    line-height: 48px;
    color: #9b9b9b;
    font-size: 12px;
    margin-left: 10px;
}
.more_gd:hover{
    background: #f7f7f7;
    cursor: pointer;
}